# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb

# Data and cache
*.sqlite3
*.db
*.log
*.tmp
*.cache/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

data